@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.font-title{
    font-family: 'Bebas Neue', cursive;
}

.font-poppin{
    font-family: 'Poppins', sans-serif;
}

.button:hover .icon{
    transform: translateX(6px);
}